.public__login__container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .height__200 {
        height: 200px;
    }

    .login_form_container {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .button {
            margin-top: 70px;
        }
    }
}