.private__main__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation__bar {
        position: relative;
        width: 100%;
        display: grid;
        padding-top: 20px;
        grid-template-columns: repeat(10, 1fr);
        .button {
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        .active {
            font-weight: 900;
        }
        button {
            position: absolute;
            right: 20px;
            top:20px;
        }
    }

    .post__container {
        margin-top: 50px;
        .post__form {
            display: flex;
            align-items: center;
        }
    }

   
}