.aggregate__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation__bar {
        position: relative;
        width: 100%;
        display: grid;
        padding-top: 20px;
        grid-template-columns: repeat(10, 1fr);
        .button {
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        .active {
            font-weight: 900;
        }
        button {
            position: absolute;
            right: 20px;
            top:20px;
        }
    }

    .date_picker_view__aggregate_table_container__container {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 70px;

        .date_picker_Container {
            margin-bottom: 40px;

            .padding {
                width: 40px;
            }
            .standard-basic {
                position: relative;
                bottom: 8px;
            }
            .dept1 {
                position: relative;
                bottom: 8px;
            }
        }
    }

    .aggregate_detail_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        .container {
            .top {
                margin-bottom: 20px;
            }
        }

        
    }

    .excel_down_button {
        position: absolute;
        top: 50px;
        right: 20px;
    }


    .excel__down {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            width: 200px;
            height: 70px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}