.SelectedInfoCell {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .aggregate__toggle__button__container {
        display: flex;
        justify-content: flex-end;
        button {
            font-size: 18px;
            border: 0;
            background: black;
            color: white;
            border-radius: 4px;
            margin-top: 20px;
        }
    }

    .table__red_text {
        color: red;
    }
}