.private__main__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation__bar {
        position: relative;
        width: 100%;
        display: grid;
        padding-top: 20px;
        grid-template-columns: repeat(10, 1fr);
        .button {
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        .active {
            font-weight: 900;
        }
        button {
            position: absolute;
            right: 20px;
            top:20px;
        }
    }

    .search_bar__container {
        width: 100%;
    display: flex;
    justify-content: center;
    }

    .view__container {
        width: 90%;
        min-width: 1300px;
        margin-top: 70px;
        .cell__container {
            display: grid;
            grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
            height: 40px;
            align-items: center;
            &:nth-child(2n - 1) {
                background-color: gainsboro;
            }
            span {
                display: flex;
                justify-content: center;
                // border: 1px solid gray;
                border-top: 0;
                &:nth-child(1) {
                    border-right: 0;
                }
                &:nth-child(2) {
                    border-right: 0;
                }
                &:nth-child(3) {
                    border-right: 0;
                }
                &:nth-child(4) {
                    border-right: 0;
                }
                &:nth-child(5) {
                    border-right: 0;
                }
                &:nth-child(6) {
                    border-right: 0;
                }
                &:nth-child(7) {
                    border-right: 0;
                }
                &:nth-child(8) {
                    border-right: 0;
                }
            }
        }
        .header {
            display: grid;
            grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
            height: 50px;
            align-items: center;
            background: gainsboro;
            // box-shadow: 0px 0px 5px 1px rgba(199,191,199,1);
            span {
                display: flex;
                justify-content: center;
                font-weight: 600;
                // border: 1px solid gray;
                &:nth-child(1) {
                    border-right: 0;
                }
                &:nth-child(2) {
                    border-right: 0;
                }
                &:nth-child(3) {
                    border-right: 0;
                }
                &:nth-child(4) {
                    border-right: 0;
                }
                &:nth-child(5) {
                    border-right: 0;
                }
                &:nth-child(6) {
                    border-right: 0;
                }
                &:nth-child(7) {
                    border-right: 0;
                }
                &:nth-child(8) {
                    border-right: 0;
                }
            }
        }
    }

    .excel_down_container {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        .card {
            background: white;
            height: 300px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .excel_down_button {
        position: fixed;
        top: 70px;
        right: 30px;
    }

    // .class-name-for-style {
    //     position: fixed;
    //     top: 70px;
    //     right: 30px;
    // }

    .exittimeinput_container {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 0.3);

        input {
            width: 300px;
            height: 30px;
            padding-left: 10px;
            font-size: 15px;
        }
        button {
            height: 38px;
            font-size: 15px;
        }
    }
}